In [1]:
import numpy as np
import pandas as pd
from FairRanking.datasets.law import Law
from FairRanking.datasets.adult import Adult

In [2]:
#data = Law('Race','/Users/robert/Desktop/Bachelor/FairRanker/data')
data = Adult('/Users/robert/Desktop/Bachelor/FairRanker/data')
#data = Compas()
#data = Wiki()
#data.load_data()
(X_train, s_train, y_train), (X_val, s_val, y_val), (X_test, s_test, y_test) = data.get_data()

array([-1.68475777,  1.27130608, -0.08671081])

In [3]:
df = pd.read_csv('/Users/robert/Desktop/Bachelor/FairRanker/data/law_data.csv')
df.head()

      id   race  gender  LSAT  UGPA region_first  ZFYA  sander_index  first_pf
0  19954  White       1  48.0   4.2           FW  1.73      1.000000         1
1  20757  White       2  45.0   4.2           GL -1.07      0.962500         1
2  16564  White       1  41.0   4.2           MW  0.85      0.912500         1
3   5069  White       1  48.0   4.1           NE -0.96      0.990476         1
4  18884  White       2  48.0   4.1           NE  1.31      0.990476         1

In [5]:
len(df)

21791